In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wd
import matplotlib.pyplot as plt

In [3]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

import datetime
#using yahoo finance
import yfinance as yf

yf.pdr_override()
#start date in regards to time frame
start = datetime.datetime(2007, 1, 1).date()

for t in tickers:
    sec_data[t] = wd.get_data_yahoo(t, start=start)['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [13]:
sec_data.tail()

                    PG      BEI.DE
Date
2023-07-17  148.057144  116.199997
2023-07-18  148.335388  115.449997
2023-07-19  149.348999  114.750000
2023-07-20  150.559998  114.300003
2023-07-21  152.929993  115.699997

In [7]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns.head(5)

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858

In [8]:
sec_returns.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4166 entries, 2007-01-03 to 2023-07-21
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PG      4165 non-null   float64
 1   BEI.DE  4025 non-null   float64
dtypes: float64(2)
memory usage: 97.6 KB

## PG

In [9]:
sec_returns['PG'].mean()
#daily avg return

0.00032303018576698174

In [14]:
sec_returns['PG'].mean() * 250
#yearly avg return based on 250 trading days

0.08075754644174543

In [15]:
sec_returns['PG'].std()

0.01178849923704287

In [16]:
sec_returns['PG'].std() * 250 **0.5

0.18639253892106328

## Beiersdorf

In [17]:
sec_returns['BEI.DE'].mean()

0.00023632990359995156

In [18]:
sec_returns['BEI.DE'].mean() * 250

0.05908247589998789

In [19]:
sec_returns['BEI.DE'].std()

0.01366787076444704

In [20]:
sec_returns['BEI.DE'].std() * 250 **0.5

0.21610801190239692

In [21]:
# comparing annualized means
print(sec_returns['PG'].mean() * 250)
print(sec_returns['BEI.DE'].mean() * 250)

0.08075754644174543
0.05908247589998789

In [22]:
print(sec_returns[['PG', 'BEI.DE']].mean() * 250)

PG        0.080758
BEI.DE    0.059082
dtype: float64

In [23]:
print(sec_returns[['PG', 'BEI.DE']].std() * 250 **0.5)

PG        0.186393
BEI.DE    0.216108
dtype: float64

### PG higher rate of return with lower volitlity is a investors prefrence