In [2]:
#import packages
import numpy as np
import pandas as pd
from pandas_datareader import data as wd
import matplotlib.pyplot as plt

In [3]:
#create data frame for tickers data
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

import datetime
#using yahoo finance
import yfinance as yf

yf.pdr_override()
#start date in regards to time frame
start = datetime.datetime(2007, 1, 1).date()

for t in tickers:
    sec_data[t] = wd.get_data_yahoo(t, start=start)['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
#daily log returns
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns.head(5)

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002203  0.000202
2007-01-09 -0.002518 -0.022858

### Covariance and correlation:

covariance matrix: data_frame['ticker'].var()

In [6]:
PG_var = sec_returns['PG'].var()
print("PG Variance: {}".format(PG_var))

PG Variance: 0.00013887473757714428

In [7]:
BEI_var = sec_returns['BEI.DE'].var()
print("BEI Variance: {}".format(BEI_var))

BEI Variance: 0.00018677163615712233

In [8]:
PG_var_a = sec_returns['PG'].var() * 250
print("PG Annual Variance: {}".format(PG_var_a))

PG Annual Variance: 0.03471868439428607

In [9]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
print("BEI Annual Variance: {}".format(BEI_var_a))

BEI Annual Variance: 0.04669290903928058

In [10]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000139  0.000043
BEI.DE  0.000043  0.000187

In [11]:
#annualized covariance matrix
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

#note [PG, BEI] and [BEI, PG] are the same as the covariance between them is the same

              PG    BEI.DE
PG      0.034719  0.010859
BEI.DE  0.010859  0.046693

In [12]:
#corrolation matrix
corr_matrix = sec_returns.corr()
corr_matrix
#note [PG, PG] is 1 like wise [BEI, BEI] as in regards to ones self the correlation is 1

# the other entries are correlation between returns and NOT prices!

              PG    BEI.DE
PG      1.000000  0.269115
BEI.DE  0.269115  1.000000

In [13]:
#create data frame for tickers data
tickers = ['SHOP', 'WIX']

my_data = pd.DataFrame()

import datetime
#using yahoo finance
import yfinance as yf

yf.pdr_override()
#start date in regards to time frame
start = datetime.datetime(2007, 1, 1).date()

for t in tickers:
    my_data[t] = wd.get_data_yahoo(t, start=start)['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [14]:
#daily log returns
my_returns = np.log(my_data / my_data.shift(1))
my_returns.head(5)

                SHOP       WIX
Date
2015-05-20       NaN       NaN
2015-05-21  0.412499 -0.006322
2015-05-22  0.097503 -0.012363
2015-05-26  0.046247 -0.026018
2015-05-27 -0.075276  0.029223

In [15]:
my_cov_matrix = my_returns.cov()
my_cov_matrix

          SHOP       WIX
SHOP  0.001497  0.000722
WIX   0.000722  0.001161

In [16]:
my_corr_matrix = my_returns.corr()
my_corr_matrix

          SHOP       WIX
SHOP  1.000000  0.547874
WIX   0.547874  1.000000

### wix and shopify have a stroner positive correlation as they operate in the same sector